.header {
    display: grid;
}

.logo_img {
    height: 70px;
    width: 100px;
}

.logo_p {
    display: grid;
    width: fit-content;
    margin-left: 34px;
}

.menu_ul {
    margin-top: 45px;
    list-style: none;
    text-decoration: none;
}

.show {
    margin-top: 45px;
}

.menu_li {
    display: inline;
    margin: 0 10px;
}

.menu_btn {
    display: none;
}


@media screen and (max-width: 820px) {

    .show {
        margin-top: 0;
        display: block
    }

    .menu_li {
        display: grid;
        margin: 5px 0;
    }

    .menu_btn {
        display: block;
    }

    .menu_ul {
        display: none;
    }

    .header,
    .body_div,
    .footer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
    }

    .footer {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 540px) {

    .LeftSideBar {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .header {
        grid-template-columns: auto;
    }

}