.header {
    display: grid;
}

@media screen and (max-width: 770px) {

    .header,
    .body_div,
    .footer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .main_bar {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .body_container {
        grid-template-columns: 100%;
    }
    .header {
        grid-template-columns: 108px auto;
        min-height: fit-content;
    }

    ul {
        margin: auto;
    }

    .cd-dropdown {
        margin: 0;
    }
    .footer {
        grid-template-columns: auto;
        min-height: fit-content;
        grid-gap: 0;
    }

    .col3 {
        min-height: 64px;
    }

    .grid-container,
    .body_container,
    .footer {
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 540px) {

     {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .LeftSideBar {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .main_bar {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .header {
        grid-template-columns: auto;
        grid-template-rows: 65px 80px;
    }

}